
<nav class="navbar navbar-expand-lg navbar-light " style="background-color:white">
    <a class="navbar-brand" routerLink="/home"><img src="assets\images\SBI hl logo.jpg" width="120px" height="50px" alt="homeloan" style="margin-left: 50px;"></a>
    
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"><i class="fa fa-home" aria-hidden="true"></i>Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#"><i class="fa fa-info-circle" aria-hidden="true"></i>
            About Us <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#"><i class="fa fa-product-hunt" aria-hidden="true"></i>
            Our Products <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#"><i class="fa fa-question-circle" aria-hidden="true"></i>
            FAQS <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#"><i class="fa fa-phone" aria-hidden="true"></i>Contact Us<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/loans">Loans<span class="sr-only">(current)</span></a>
        </li>

      </ul>

        <!-- <li class="nav-item active">
          <a class="nav-link"  href=""><button class="btn btn navbar-btn">Apply Now</button><span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link"  href="#"><button class="btn btn navbar-btn">Login</button><span class="sr-only">(current)</span></a>
        </li> -->
        <button class="btn"><i class="fa fa-telegram" aria-hidden="true"></i> Apply Now</button>
        <button class="btn"><i class="fa fa-sign-in" aria-hidden="true"></i>
          login </button>
     
      <a class="navbar-brand" href="#"><img src="assets\images\unnamed.png" width="70px" height="60px" alt="homeloan" style="margin-left: 40px;"></a>
    
      

    </div>
  </nav>
  <!-- <section>
    <app-home></app-home> -->
   <!-- <div id="owl-demo" class="owl-carousel owl-theme" style="opacity: 1;display: block;">
    <div class="owl-wrapper-outer">
      <div class="owl-wrapper" style="width: 8760px;left:0px;display: block;transition: all 1000ms 0s;
      transform: translate3d(-657,0px,0px)">
      <div class="owl-item" style="width: 219px;">
        <div class="item">
          
        </div>
      </div>
      </div
    </div>
  
  </div>-->

  <!-- </section> -->
  